.buttonload {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px /* Set a font size */
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*newSpan*/
span.a {
  display: inline; /* the default for span */ 
}
/*newSpan*/
/*new*/
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: inline;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}


/*new*/
/*newCard*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/*resMyTry*/
/* SECREEN WIDTH undeer 992px */
@media screen and (max-width: 991px) {
  .footer-col {
    text-align: center !important;
  }
}

/* SCREEN WIDTH <= 640px */
@media screen and (max-width: 640px) {
  .steps .step .step-box-left,
  .steps .step .step-box-right {
    width: 100%;
    height: auto;
  }
  .subscribe-form .input-box {
    border-radius: 30px;
  }
  .subscribe-form .standard-button {
    margin-left: 25px;
    border-radius: 30px;
  }
}

/* SCREEN WIDTH <= 480px */
@media screen and (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
  .home .color-overlay {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .home .red-button {
    margin-bottom: 0;
  }
  .about-box .about-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .steps .step .step-number {
    margin-bottom: 50px;
  }
  .testimonials .single-feedback .feedback-content blockquote cite .client-image {
    display: none;
  }
}

/*resMyTryEnd*/
/* Style the counter cards */
.card {
  box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0);
  padding: 0px;
  text-align: center;
}
/*newCardEdn*/
/* SCREEN WIDTH UNDER 1200px */
@media screen and (max-width: 1199px) {
  .about-box {
    margin-top: 0;
  }
  .overflow-box {
    margin-left: 0;
  }
  .grid figure {
    margin: 0;
  }
  .steps {
    margin-top: 75px;
  }
  .steps .step .step-box-left {
    margin-left: 0;
    margin-top: 0;
  }
  .steps .step .step-box-right {
    margin-right: 0;
    margin-top: 0;
  }
  .testimonials .single-feedback .feedback-content .top {
    top: 160px;
  }
  .testimonials .single-feedback .feedback-content {
    margin-top: 0;
    margin-left: 0;
  }
  .testimonials .owl-theme .owl-controls {
    text-align: center;
    margin-top: 50px;
  }
  .fixed-bg {
    background-attachment: scroll;
  }
}

/* PORTFOLIO FIXES */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  figure.effect-zoe p.description {
    bottom: 110px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid figure {
    width: 50%;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .grid figure {
    width: 50%;
  }
  figure.effect-zoe p.description {
    bottom: 100px;
  }
}

@media screen and (max-width: 639px) {
  .grid figure {
    width: 100%;
    max-width: 100%;
  }
}

/* SECREEN WIDTH undeer 992px */
@media screen and (max-width: 991px) {
  .footer-col {
    text-align: center !important;
  }
}

/* SCREEN WIDTH <= 640px */
@media screen and (max-width: 640px) {
  .steps .step .step-box-left,
  .steps .step .step-box-right {
    width: 100%;
    height: auto;
  }
  .subscribe-form .input-box {
    border-radius: 30px;
  }
  .subscribe-form .standard-button {
    margin-left: 25px;
    border-radius: 30px;
  }
}

/* SCREEN WIDTH <= 480px */
@media screen and (max-width: 480px) {
  html {
    font-size: 62.5%;
  }
  .home .color-overlay {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .home .red-button {
    margin-bottom: 0;
  }
  .about-box .about-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .steps .step .step-number {
    margin-bottom: 50px;
  }
  .testimonials .single-feedback .feedback-content blockquote cite .client-image {
    display: none;
  }
}

/* RESPONSIVE NAVIGATION FIXES */
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
    padding-bottom: 25px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-inverse .navbar-toggle {
    border: none;
  }
  .navbar-toggle {
    font-size: 40px;
    padding: 6px 12px;
    margin-top: 18px;
    margin-right: 0;
    cursor: pointer;
  }
  .navbar-inverse .navbar-toggle:focus,
  .navbar-inverse .navbar-toggle:hover {
    background-color: #fc5f45;
    color: #ffffff;
    cursor: pointer;
  }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    border-color: #efefef;
  }
  .nav > li {
    display: inline-block;
  }
  .sticky-navigation .main-navigation li a {
    line-height: 27px;
  }
}
/*new
*/
